<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>api</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>authorizeServlet</servlet-name>
		<servlet-class>com.smzh.servlet.AuthorizeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>authorizeServlet</servlet-name>
		<url-pattern>/authorizeServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>accessTokenServlet</servlet-name>
		<servlet-class>com.smzh.servlet.AccessTokenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>accessTokenServlet</servlet-name>
		<url-pattern>/accessTokenServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>userInfoServlet</servlet-name>
		<servlet-class>com.smzh.servlet.UserInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userInfoServlet</servlet-name>
		<url-pattern>/userInfoServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>bandWidthServlet</servlet-name>
		<servlet-class>com.smzh.servlet.BandWidthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bandWidthServlet</servlet-name>
		<url-pattern>/bandWidthServlet</url-pattern>
	</servlet-mapping>
	
	
		<servlet>
		<servlet-name>cacheServlet</servlet-name>
		<servlet-class>com.smzh.servlet.CacheServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cacheServlet</servlet-name>
		<url-pattern>/cacheServlet</url-pattern>
	</servlet-mapping>
</web-app>
